[Unit]
Description=Report Market Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'source customBot/bin/activate && python /home/pi/code/practise_crawldata/main.py'


[Install]
WantedBy=multi-user.target


// sudo systemctl enable reportMarketBot.service
// sudo systemctl start reportMarketBot.service


[Unit]
Description=Report Market Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'source customBot/bin/activate && python /home/pi/code/practise_crawldata/main.py'
Restart=on-failure
User=root
StandardOutput=file:/tmp/reportMarketBot.log
StandardError=inherit
RestartSec = 5
TimeoutStartSec = infinity
[Install]
WantedBy=multi-user.target